/* CSS declarations go here */

.hiddentab {
  display: none;
}

.newsfeed-list {
  padding-bottom: 150px;
}

.list__header,
.list__footer {
  width: 100%;
  padding: 10px 30px;
}

.trigger-loadNew,
.trigger-loadMore {
  width: 100%;
  margin: 0 auto;
}

.list__item {
  margin: 0 auto 30px auto;
}
.list__item .mdl-card__actions {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list__add {
  position: fixed;
  z-index: 1;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3px 15px;
  background: white;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list__add > * {
  margin: 0 10px;
}

.list__add .textfield-add-message {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
